// globals.scss
@use "setup/variables";
@use "setup/functions";
@use "setup/mixins";

@use "basics/helpers";
@use "basics/layout";
@use "basics/base";


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Roboto:wght@400;700&display=swap');


body {
    background: #E8F1F5;
}