@use '../../../styles/setup/variables' as *;

.addCircleIcon {
    width: 24px;
    height: 24px;
}

.circle {
    fill: $accent-coral;
}

.plus {
    stroke: white;
    stroke-width: 2;
    stroke-linecap: round;
}